spring:
  application:
    name: harmonyhub-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/harmonyhub
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 9992

jwt:
  secret: ZGVtb19zZWNyZXRfa2V5XzI1Nl9iaXQ=
  expiration: 86400000

